	<% if admin_signed_in? %>
	<li>
     <%= link_to 'ログイン', new_admins_admin_session_path %>
  </li>
  <% else %>
  <li>
  	<%= link_to 'ログアウト', destroy_admins_admin_session_path, method: :delete %>
  </li>
  <% end %>