<h1>ジャンル一覧</h1>
	<h3><%= link_to '新規ジャンルの追加', new_admins_genre_path %></h3>
	<table>
		<tbody>
			<% @genres.each do |genre| %>
			 <tr>
				<td><%= link_to genre.name, admins_genre_path(genre.id) %></td>
				<td>このジャンルの店の数:<%= genre.restaurants.count %></td>
				<td>登録日：<%= genre.updated_at.strftime('%Y/%m/%d') %></td>
			 </tr>
			<% end %>
		</tbody>
	</table>
	