<div class="navbar navbar-default hero" style="width: 100%;">
  <nav class="container" >
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'stock gourmet', admins_root_path, class: "navbar-brand active",id: "top" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if admins_admin_signed_in? %>
            <li>
               <%= link_to 'ログアウト', destroy_admins_admin_session_path, method: :delete %>
            </li> 
        <% else %>
            <li>
              <%= link_to 'ログイン', new_admins_admin_session_path %>
            </li>
        <% end %>
      </ul>
  </nav>
</div>